@charset "ISO-8859-1";

body {
  background-color: #cdffd8; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #cdffd8, #94b9ff);
  font-family: arial;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: #b9ade8;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  padding: 5px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  color: #3c1263;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 5px;
  font-size: 2.3em;
}
/* drop-down menu user view */
.dropbtn-user-view {
  border: none;
  cursor: pointer;
  height: 60px;
}
.dropdown-user-view {
  padding: 10px;
  position: absolute;
  right: 0;
  display: inline-block;
}
.dropdown-content-user-view {
  display: none;
  position: absolute;
  background-color: #b9ade8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(46, 21, 84, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content-user-view a {
  color: #3c1263;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-user-view a:hover {
  background-color: #3c1263;
  color: white;
}

.dropdown-user-view:hover .dropdown-content-user-view {
  display: block;
}

/* drop-down menu user view */
.dropbtn {
  border: none;
  cursor: pointer;
  height: 80px;
}
.dropdown {
  position: absolute;
  right: 0;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b9ade8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(46, 21, 84, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: #3c1263;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #3c1263;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#content {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-button {
  margin-top: 20px;
  height: 40px;
  background-color: #449850;
  color: white;
  border-radius: 12px;
  font-size: 1em;
  border-color: #449850;
  border-style: none;
  width: 120px;
}
.contact-button:hover {
  background-color: #ddd;
  color: black;
}

.previous-button {
  margin-top: 20px;
  height: 40px;
  background-color: #804BA4;
  color: white;
  border-radius: 12px;
  margin-left: 0;
  text-decoration: none;
  border-style: none;
  font-size: 1em;
  width: 120px;
}
.previous-button:hover {
  background-color: #ddd;
  color: black;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-profile {
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    color: #370466;
    margin-top: -30px;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-top: -130px;
   
}

#business-label {
    font-size: 1.2em;
    text-align: left;
    margin-right: 10px;
    flex-basis: 130px;
    white-space: nowrap;
    margin-top: 60px;
    /* Keep the text on one line */
}

.business-container {
    background-color: white;
    border: 2px solid #370466;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    flex: 1;
    margin-right: 110px;
    white-space: nowrap;
    /* Keep the text on one line */
}

.ID-container {
    background-color: white;
    border: 2px solid #370466;
    width: 320px;
    height: 35px;
    border-radius: 20px;
    flex: 1;
    margin-right: 90px;
    white-space: nowrap;
    /* Keep the text on one line */
}

#ID-label {
    font-size: 1.2em;
    text-align: left;
    margin-right: 10px;
    flex-basis: 130px;
    white-space: nowrap;
    /* Keep the text on one line */
}

#email-label,
#name-label {
    font-size: 1.2em;
    text-align: left;
    margin-right: 10px;
}

#password-label {
    font-size: 1.2em;
    text-align: left;
    margin-right: 30px;
}


.email-container,
.name-container,
.password-container {
    background-color: white;
    border: 2px solid #370466;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    margin-right: 10px;
    
}

.update-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1em;
}

.pic {
    height: 250px;
    /* Increase the height to make the image bigger */
    width: 25%;
    /* Adjust the width as needed */
    object-fit: contain;
    /* Show the whole image */
    position: absolute;
    top: 250px;
    /* Adjust the top position */
    left: 20px;
    /* Move the logo to the left */
}


#contact-us {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-button {
    height: 35px;
    background-color: #449850;
    color: white;
    border-radius: 12px;
    font-size: 1em;
    border-color: #449850;
    border-style: none;
    margin-right: 90px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 90px;
    cursor:pointer;
}

.update-button:hover {
    background-color: #45a049;
}

#column-3 {
    color: #370466;
    text-align: left;
    /* Change 'right' to 'left' */
    width: 61%;
    font-size: 1.2em;
    height: auto;
    font-family: arial;
    font-weight: bold;
    margin-top: -200px;
    margin-left: 30px;
}

#business-label,
#email-label,
#name-label,
#password-label,
#ID-label {
    color: #370466;
    font-size: 1.2em;
    font-family: arial;
    font-weight: bold;
}

        .email-label {
            position: absolute;
           
            right: 10px;
        }

        .email-content {
            margin-left: 10px; /* Adjust the value as needed */
            margin-top: 10px;
        }



