<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Prosper Lend - Home</title>
	<link rel="stylesheet" href="styles/main.css">
	<style>
		#column-1 {
			color: #370466;
			text-align: center;
			margin-top: 40px;
			width: 61%;
			font-size: 1.2em;
			height: auto;
		}
		#about-us {
			font-size: 1.4em;
			text-align: left;
			font-weight: bold;
		}
		
		#column-2 {
			width: 40%;
			height: auto;
		}
		
		#about-us1 {
			width: 100%;
			height: auto;
		}

		#column-3 {
			width: 40%;
			height: auto;
		}
		
		#about-us2 {
			width: 100%;
			height: auto;
		}
	</style>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<header>
	<img src="../images/prosper-logo.png" alt="Logo" class="logo">
	<h1>Prosper Lend</h1>
	<div class="dropdown">
		<img src="../images/menu1.svg" class="dropbtn">

		<div class="dropdown-content">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
   		</div>
   </div>
</header>

<div id="content">
	<div id="column-1">
		<p id="about-us">About us</p>
		<p>Ethics and success go hand in hand. With Prosper Lend, not only do you gain access to affordable loans, but we also offer exclusive discounts for ethical businesses committed to making a positive impact.</p>
	</div>
	
	<div id="column-2">
		<img src="../images/about-me.png" id="about-us1">
	</div>
	
	<div id="column-3">
		<img src="../images/about-us-2.png" id="about-us2">
	</div>
	
</div>
	
</body>

</html>