<!DOCTYPE html>
<html  xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>login-page</title>

	<link rel="stylesheet" th:href="@{/styles/login-page.css}">
</head>
<body>
<img src="../static/images/all-policies.png" alt="pic" class="pic">

<div class="container">
    <h2 class="welcome-heading">Welcome to Prosper Lend!</h2>
    <div class="input-container">
        <input type="text" placeholder="Username">
    </div>
    <div class="input-container">
        <input type="password" placeholder="Password">
    </div>
    <button class="login-button">Login</button>
    <div class="signup-link">
        Don't have an account? <a href="/sign-up">Sign up</a>
    </div>
    <div class="error-message">
        <p th:text="${message}"></p>
    </div>
</div>

<img src="../static/images/prosper-logo.png" alt="logo" class="logo">

</body>
</html>