<!DOCTYPE html>
<html  xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>login-page</title>

	<link rel="stylesheet" th:href="@{/styles/login-page.css}">
</head>
<body>
<img src="../images/all-policies.png" alt="pic" class="pic">

<form class="container" id="login-details" action="#" th:action="@{/test/login}" type="text" method="post">
    <h2 class="welcome-heading">Welcome to Prosper Lend!</h2>
    <div class="input-container">
        <input type="text" th:placeholder="Username" th:name="username">
    </div>
    <div class="input-container">
        <input type="password" th:placeholder="Password" th:name="password">
    </div>
    <button class="login-button" type="submit" form="login-details">Login</button>
    <div class="signup-link">
        Don't have an account? <a href="/sign-up">Sign up</a>
    </div>
    <div class="error-message" style="margin-top: -9px;">
        <p th:text="${message}"></p>
    </div>
</form>

<img src="../images/prosper-logo.png" alt="logo" class="logo">

</body>
</html>