<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>login-page</title>
<link th:href="@{/styles/my-profile.css}" rel="stylesheet">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<img src="../images/givers-logo.png" alt="pic" class="pic">
	<header>
		<img src="../images/prosper-logo.png" alt="Logo" class="logo">
		<h1>Prosper Lend</h1>
		<div class="dropdown">
			<img src="../images/user-photo.png" class="dropbtn">
			<div class="dropdown-content">
				<a th:href="@{/my-profile}">My Profile</a>
				<a th:href="@{/my-loans}">My Loans</a>
				<a th:href="@{/request-funding}">Request Funding</a>
				<a th:href="@{/about-us}">About Us</a>
				<a th:href="@{/log-out}">Log Out</a>
			</div>
		</div>
	</header>
	<div id="content">
		<p id="my-profile">My Profile</p>
		<div class="wrapper">
			<p id="business-label">Business Name:</p>
			<div class="business-container">
				<!-- The container is empty -->
				<p th:text="${userDetails.businessName}" class="email-content"></p>
			</div>
		</div>
		<div class="wrapper">
			<p id="email-label">Admin Email:</p>
			<div class="email-container">
				<!-- The container is empty -->
				<p th:text="${userDetails.businessAdminEmail}" class="email-content"></p>
			</div>
			<a th:href="@{/update-email}" class="update-button">Update</a>
		</div>
		<div class="wrapper">
			<p id="name-label">Login Name:</p>
			<div class="name-container">
				<!-- The container is empty -->
			<p th:text="${userDetails.userLoginName}" class="email-content"></p>
			</div>
			<a th:href="@{/update-name}" class="update-button">Update</a>
		</div>
		<div class="wrapper">
			<p id="password-label">Password:</p>
			<div class="password-container">
				<!-- The container is empty -->
			<p class="email-content">**************</p>
			</div>
			
		</div>
		<div class="wrapper">
			<p id="ID-label">Merchant ID:</p>
			<div class="ID-container">
				<!-- The container is empty -->
				<p th:text="${userDetails.merchantId}" class="email-content"></p>
			</div>
			<a th:href="@{/update-merchant-id}" class="update-button">Update</a>
		</div>
	</div>
	<div id="column-2">
		<form id="contact-us" th:action="@{./contact-us}">
			<button class="contact-button" type="submit" >Contact us</button>
		</form>
	</div>
	<div id="column-3">
		<p>Business ID:</p>
		<p>User Login ID:</p>
		<p>Contact us to update your Business Name or Merchant ID.</p>
	</div>
</body>
</html>
