<!DOCTYPE html>
<html  xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Prosper Lend - Payment History</title>
	<link th:href="@{/styles/main.css}" rel="stylesheet">
</head> 
<style>
	#above-text {
		text-align: center;
		color: #3C1263;
		margin-top:250px;
	}

</style>
<body>
<header>
	<img src="../images/prosper-logo.png" alt="Logo" class="logo">
	<h1>Prosper Lend</h1>
	<div class="dropdown">
		<img th:src="@{../images/menu1.svg}" class="dropbtn">

		<div class="dropdown-content">
				<a th:href="@{/my-profile}">My Profile</a>
				<a th:href="@{/my-loans}">My Loans</a>
				<a th:href="@{/request-funding}">Request Funding</a>
				<a th:href="@{/about-us}">About Us</a>
				<a th:href="@{/log-out}">Log Out</a>
   		</div>
   </div>
</header>

<div id="above-text">
	 <h2 th:text="${message}"></h2>
</div>


</body>
</html>

