<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>login-page</title>

    <link rel="stylesheet" href="../static/styles/profile-page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <img src="../static/images/givers-logo.png" alt="pic" class="pic">
    <header>
        <img src="../static/images/prosper-logo.png" alt="Logo" class="logo">
        <h1>Prosper Lend</h1>

        <div class="dropdown">
            <img src="../static/images/user-photo.png" class="dropbtn">

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </header>
    <div id="content">
        <p id="my-profile">My Profile</p>

        <div class="wrapper">
            <p id="business-label">Business Name:</p>
            <div class="business-container">
                <!-- The container is empty -->
            </div>
        </div>
        <div class="wrapper">
            <p id="email-label">Admin Email:</p>
            <div class="email-container">
                <!-- The container is empty -->
            </div>
            <a href="#" class="update-button">Update</a>
        </div>
        <div class="wrapper">
            <p id="name-label">Login Name:</p>
            <div class="name-container">
                <!-- The container is empty -->
            </div>
            <a href="#" class="update-button">Update</a>
        </div>
        <div class="wrapper">
            <p id="password-label">Password:</p>
            <div class="password-container">
                <!-- The container is empty -->
            </div>
            <a href="#" class="update-button">Update</a>
        </div>
        <div class="wrapper">
            <p id="ID-label">Merchant ID:</p>
            <div class="ID-container">
                <!-- The container is empty -->
            </div>
        </div>
    </div>
    <div id="column-2">
        <img src="../static/images/givers-logo.png" alt="pic" class="pic">
        <div id="contact-us">
            <button class="contact-button" type="button" onclick="redirectToURL('https://knoops.co.uk');">Contact us
            </button>
        </div>
    </div>
    <div id="column-3">
        <p>Business ID:</p>
        <p>User Login ID:</p>
        <p>Contact us to update your Business Name or Merchant ID.</p>
    </div>
</body>

</html>