<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>sign-up-page</title>

	<link rel="stylesheet" th:href="@{/styles/sign-up-page.css}">
</head>
<body>
<img th:src="@{/images/all-policies.png}" alt="pic" class="pic">

<div class="container">
    <h2 class="welcome-heading">Sign Up</h2>
    
    <form action="./save-user" method="post">
    <div class="input-container">
        <input type="text" placeholder="Login Name"  name="userLoginName" required>
    </div>
    <div class="input-container">
        <input type="password" placeholder="password" name="passcode" required>
    </div>
    <div class="input-container">
        <input type="text" placeholder="businessName"  name = "businessName" required>
    </div>
    <div class="input-container">
        <input type="text" placeholder=" Admin Email" name="businessAdminEmail" required>
    </div>
    <div class="input-container">
        <input type="text" placeholder="Merchant ID" name="merchantId" required>
    </div>
     <button class="sign-up-button">Sign Up</button>
     
    
    </form>
    
    <div class="login-in-link">
        Already have an account? <a href="/login-page"> Login </a>
        <h2 th:text="${message}"></h2>
    </div>
</div>


<img th:src="@{/images/prosper-logo.png}" alt="logo" class="logo">

</body>
</html>