<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>sign-up-page</title>

	<link rel="stylesheet" href="styles/sign-up-page.css">
</head>
<body>
<img src="../images/all-policies.png" alt="pic" class="pic">

<div class="container">
    <h2 class="welcome-heading">Sign Up</h2>
    <div class="input-container">
        <input type="text" placeholder="Login Name">
    </div>
    <div class="input-container">
        <input type="business name" placeholder="Business Name">
    </div>
    <div class="input-container">
        <input type="email" placeholder=" Admin Email">
    </div>
    <div class="input-container">
        <input type="ID" placeholder="Merchant ID">
    </div>
    <div class="input-container">
        <input type="password" placeholder="Password">
    </div>
    <div class="input-container">
        <input type="password" placeholder="Confirm Password">
    </div>
    <button class="sign-up-button">Sign Up</button>
    <div class="login-in-link">
        Already have an account? <a href="#"> Login </a>
    </div>
</div>

<img src="../images/prosper-logo.png" alt="logo" class="logo">

</body>
</html>